:root {
  --accent-color: #e2c044;
  --primary-color: #587b7f;
  --secondary-color: #393e41;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  border: none;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #1e2019;
  color: #d3d0cb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  background-color: #393e41;
  color: #fff;
}

.nav-links {
  display: flex;
}

.nav-links * {
  margin: 0 0.5rem;
}

.nav-links li:nth-child(2) {
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

.nav-links li:hover {
  color: #fbf2c0;
  border-color: #fbf2c0;
}

.home-section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.home-section h2 {
  align-self: center;
  margin: 0 0 1rem 0;
}

.calculator-section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 1rem;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60vw;
  height: 80vh;
  justify-items: stretch;
  justify-self: end;
}

.output {
  grid-column: 1/5;
  background-color: #fbf2c0;
  color: #1e2019;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  font-size: 3rem;
}

#zero {
  grid-column: 1/3;
}

.calculator button {
  background-color: var(--secondary-color);
  border: 1px solid #d1d1d1;
  font-size: 2rem;
}

.calculator button:hover {
  background-color: #2b2f31;
}

.calculator button:active {
  background-color: #242729;
}

#operators {
  background-color: #505557;
}

#operators:hover {
  background-color: #4b5052;
}

#operators:active {
  background-color: #414647;
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .navbar {
    font-size: 1rem;
  }

  .calculator-section {
    grid-template-columns: auto;
    justify-items: center;
  }

  .calculator {
    margin-top: 2rem;
    justify-self: inherit;
    width: 80vw;
    height: 50vh;
  }
}
